@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #9fc;
}

.header-banner {
  position: relative;
}

.header-img {
  width: 100%;
}

.header-h1 {
  display: inline;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 1.1;
  font-weight: bold;
  font-size: 11vw;
  color: #9fc;
  text-align: center;
  margin: 0;
  -webkit-text-stroke: 1px black;
  font-family: Shrikhand, cursive;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  text-decoration: none;
  padding: 3px;
  text-align: center;
}

a {
  margin: 0 auto;
  display: inline-block;
  padding: .7em;
  text-decoration: none;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
  width: 50%;
  text-align: center;
  color: black;
  background-color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: larger;
}

nav a:hover {
  background-color: #fcf;
}

.header-h2 {
  text-align: center;
}

h2 {
  font-family: "Grand Hotel", cursive;
  font-size: 2.6rem;
}

h2,
.h2-p {
  margin: 0;
  font-weight: 500;
}

.h2-p {
  padding-top: 1em;
}

.main-pics {
  text-align: center;
}

.h3-img {
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

h3 {
  margin: 0;
  font-weight: lighter;
  font-family: "Grand Hotel", cursive;
  font-size: 2rem;
}

h4 {
  margin: 1em;
  display: inline-block;
  font-weight: 600;
}

.founder {
  text-align: center;
  display: block;
}

.founder-figure {
  margin: 0 auto;
}

.founder-img {
  height: 225px;
  width: 225px;
}

.founder-cap {
  margin: 1em;
  text-align: center;
  font-weight: 100;
}

.links {
  text-align: center;
}

.link-card {
  text-align: center;
  display: inline-block;
  margin: .5em;
}

.card-img {
  width: 50px;
  height: 50px;
}

.card-body {
  font-size: .8em;
  font-weight: 600;
}

.footer-copy {
  text-align: center;
  display: block;
  margin-bottom: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .founder-img {
    height: 275px;
    width: 275px;
  }

  .header-banner {
    position: relative;
  }

  .header-h1 {
    width: 62%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  li {
    display: inline-block;
    width: auto;
  }

  a {
    width: auto;
  }

  .header-banner {
    position: relative;
  }

  .header-h1 {
    width: 62%;
  }

  .founder-img {
    height: 350px;
    width: 350px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .header-banner {
    position: relative;
  }

  .header-h1 {
    width: 75%;
    -webkit-text-stroke: 2.3px black;
  }

  h2 {
    font-size: 3.6rem;
  }

  .founder-figure {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2em;
    overflow: hidden;
  }

  .founder-img {
    height: 250px;
    width: 250px;
    float: left;
  }

  .founder-cap {
    float: right;
    width: 50%;
    padding-top: 1.7em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  h2 {
    font-size: 4.6rem;
  }

  .header-banner {
    position: relative;

  }

  .header-h1 {
    width: 100%;
  }

  .founder-figure {
    width: 50%;
  }

}
